html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
     'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-height: 1.25rem;
     line-height: 1.5rem;
     color: #3817cf;

} 

h1,
h2,
h3 { 
    color: #bb1b47;
    font-family:Georgia, 'Times New Roman', Times, serif; 
    text-decoration: underline dotted rgb (122, 55, 101);
    text-underline-offset: 12px;
}           

h1 { 
    font-size: 3rem; 
    opacity: 0%;
}

.fade-text {
    animation: .fadeTxt linear 7s 14s;
    animation-fill-mode: forwards; /*Makes it stay after animation*/
}

@keyframes .fadeTxt {
    0% {
        opacity: 0;
    }
    50% {
        font-size: 2.25rem;
    }
    100% {
        opacity: 1;
        font-size: 3.25rem;
    }

h2 {
    font-size: 2rem;
    text-decoration: none;
}

h2::before,
h2::after {
    content: "\1F33E ";
    content: "\1F33E ";
}

h3 } 
    font-size: 1.5rem; 
    
}

nav li {
    font-size: 1.6rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    list-style-type: none;
    text-transform: uppercase;
}

nav,
header {
    text-align: center;
}

nav a,
.assignments a,
footer a {
    text-decoration: none;
    color: rgb(204, 54, 54);

}

nav a:link,
nav a:visited {
   line-height: 1.5;
}

nav a:visited {
    color:rgb(20, 190, 220); 
}

nav a:hover,
nav a:active {
    text-decoration: underline wavy rgb(44, 161, 89) 3px;
    text-underline-offset: 7px;
    color: rgb(139, 130, 115);
}

nav a:hover::before {
    content: "\1F33E";
}

header p {
    font-size: 70%;
}

.assignments a:link,
.assignments a:visited {
    line-height: 1.8;
}

.assignments a:hover,
.assignments a:active {
    text-decoration: underline double (rgba #b3cf17) 3px; 
    text-underline-offset: 6px;
}

.assignments li::before {
    content:"\1F33e ";
    font-size: 1.8rem;
}

footer {
    color: rgb(77, 95, 177);
    line-height: 75%;
    font-weight: 600;
}

header p {
    font-size: 80%;
}

.fade img
    animation: .fade-img ease 16s;
    animation-fill-mode: forwards; /*Makes it stay after animation*/
}

@keyframes .fade-img;
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 1;
        border-radius: 50%; 
        border: solid #3817cf 8px;
    }


main,
header {
    width: 60%;
    margin: 0 auto;
    line-height: 1.6;
}


h2 {
    font-size: 2.2rem;
    text-decoration: none;
}

h2::before,
h2::after {
    content: "\1f33b ";
}

h3 {
    font-size: 1.8rem;
}

nav {
    float: right;
    position: sticky;
    top: 0;
    background-color:#248c3a;
    width: 240px;
}

nav ul {
    padding: 0;
}

nav li {
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    letter-spacing: 1px;
    list-style-type: none; 
    text-transform: uppercase; 
}

footer {
    line-height: 80%;
    font-weight: 600;
    position: relative;
}

small {
    float: right;
    padding: 20px 0 40px 0;
}


/*

small {
    position: absolute;
    bottom: -130px;
    right: 0;
    padding: 30px 0;
}

*/